.jumbotron {
	background-color: #b5bac9;
	color: black;
	margin-top: 50px;


}

.fooster {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px ;
	margin-top: 10px;
}

.card-satori {
	flex: 1 200px; 
	padding: 2px 7px 2px 7px;
	margin-top: 5%;
	
}


.btn-reserva {
	
	width: 100%;
	border-radius: 5px;
	background-color: #008CBA;
    color: white;
    font-size: large;


	
}

.contacto{
	color: white;

}

.carousel-inner{
 height: 400px;
}

.carousel-inner img {
    width: 100%;
    height: 400px;
}

